<StackLayout class="page"
             xmlns="http://schemas.nativescript.org/tns.xsd">

    <Button class="btn btn-primary btn-active" id="button" text="Back" (tap)="goBack()"></Button>

    <AbsoluteLayout class="play-pause">
        <Image [src]="displayed['cover']" class="cover"></Image>
        <Image class="cover"></Image>
        <Image (tap)="onTap($event)" class="playButton" visibility="{{ !player.isAudioPlaying() ? 'visible' : 'collapsed' }}"></Image>
        <Image (tap)="onTap($event)" class="pauseButton" visibility="{{ player.isAudioPlaying() ? 'visible' : 'collapsed' }}"></Image>
    </AbsoluteLayout>

    <Label [text]="displayedTrack.title" class="albumLabel"></Label>
    <Label [text]="displayedTrack.artist.name" class="artistLabel"></Label>

    <ListView [items]="tracks" height="100%" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-result="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <StackLayout orientation="vertical" class="list-group-item">
                <Label [text]="result.title"></Label>
                <Label class="durationLabel" [text]="result.duration"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

</StackLayout>
